<% if user_signed_in? %>
  <li class="no-bullets login-logout">
  <%= link_to('Logout', destroy_user_session_path, method: :get, class: "btn btn-info") %>        
  </li>
<% else %>
  <li class="no-bullets login-logout">
  <%= link_to('Login', new_user_session_path, class: "btn btn-info") %>  
  </li>
<% end %>