<% if user_signed_in? %>
  <li class="no-bullets registration-item">
  <%= link_to('Modifier mes infos', edit_user_registration_path, :class => "btn btn-info")%>
  </li>
<% else %>
  <li class="no-bullets registration-item">
  <%= link_to('Register', new_user_registration_path, :class => "btn btn-info") %>
  </li>
<% end %>