// Specific CSS for your home-page
.flexbox {
  display: flex;
  align-items: center;
};

.item {
  margin: 1%;
}

.home-container {
  margin-top: 1%;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
}

.global-container {
  height: 100vh;
}