<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h4>Hello
        <% if current_user.email === 'martin@gmail.com' %>
          master of the Tinder universe, voici tes conversations en cours :
        <% else %>
          <%= current_user.first_name %>, voici tes messages : 
        <% end %>
      </h4>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="background-conversation">
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <h3><%= link_to recipient.email, conversation_messages_path(conversation)%></h3>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    <hr>
      <%= link_to "Ecrire un nouveau message", new_conversation_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<div>
  <%= link_to "Retour", root_path, :class => "btn btn-primary" %>
</div>