<h3>Voici la liste des filles disponibles</h3>
<ul>
  <% @users.each do |user| %>
    <li> <%= user.nickname %> </li>
  <% end%>
</ul>
<div>
  <%= link_to "Retour", root_path, :class => "btn btn-primary" %>
</div>